@media only screen and (max-width: 850px){
    body{
        background-color: Ivory;
        font-family:'Courier New', Courier, monospace
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }
      
    .skip a:focus{
        top:20px;
        color: black;
        text-decoration-style: solid;
    }

    #back{
        margin-left:auto;
    }

    #navbar{
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #5F8575;
        text-decoration: none;
    }

    #navbar a.hover a.focus{
        color:#C1E1C1;
        text-decoration: underline;
        -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
    }

    #navbar li{
        color:#C1E1C1;
        -webkit-text-decoration-style: none;
            text-decoration-style: none;
        padding-top: 10px;
        padding-right: 15px;
    }



    #main{
        background: url('../images/tea.jpg');
        background-attachment: fixed;
        background-position: center; /* Parallax effect */
        background-size: cover; /* Parallax effect */
        color: 	#000000;
        height: 500px; /* Parallax effect */
        text-align: right;
        font-size: 45px;
    }
    

    #headerp{
        font-size: 30px;
    }

    #mainheader{
        font-size: 25px;
    }

    #teadef{
        font-size: 22px;
        padding: 20px;
    }

    #def{
        margin:auto;
        padding:10px;
    }

    ol{
        margin:auto;
        padding:30px;
    }
 
    ol > li{
        padding:20px 30px;
    }

    footer{
        background-color: #59290D;
        color: white;
        padding:20px;
        text-align:center;
    }

    h3{
        
    }
}