
@media only screen and (min-width: 320px){
    body{
        background-color: Ivory;
        font-family:'Titillium Web', Courier, monospace
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -50px;
        z-index: 1;
    }

    .skip a:focus{
        top:20px; 
        color: #01411C;
        text-decoration-style: solid;
    }

    #navbar{
        position:relative;
        color:#01411C;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #home{
        padding-top: 10px;
        padding-left:10px;
        color: #01411C;
    }

    #home a:focus{
        color:#01411C;
        text-decoration: underline;
        text-decoration-style: dotted;
    }
    
    #home a:visited{
        color:#01411C;
        padding-top: 10px;
        padding-right: 15px;
        outline: solid #01411C;
    }

    #navbar li{
        padding-top: 10px;
        padding-right: 15px;
        color:#01411C;
        width: 23%;
        text-align: center;
    }

    #navbar li a{
        color:#01411C;
        width: 23%;
        text-align: center;
    }

    #navbar li a:active{
        border: solid #01411C;
        color:#01411C;
    }

    #navbar li a:visited{
        color:#01411C;
        padding-top: 10px;
        padding-right: 15px;
        outline: solid #01411C;
    }

    .name{
        padding: 10px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: #01411C;
    }

    #mainspace{
        background: url('../images/tea.jpg');
        background-attachment: fixed;
        background-position: center; /* Parallax effect */
        background-size: cover; /* Parallax effect */
        height: 500px; /* Parallax effect */
        text-align: center;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(1, auto);
    }
    
    #headerh{
        position:relative;
        font-size: 75px;
        color:	#321414;
        grid-row: 2 / span 1;
        font-kerning: none; 
    }

    #headerp{
        position:relative;
        font-size: 40px;
        color:	#321414;
        grid-row: 3 / span 1;
    }

    #skip{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }

    #teadef{
        font-size: 25px;
        padding: 10px;
        text-align: center;
    }

    #def{
        margin:auto;
        padding:10px;
        text-align: center;
    }

    #defs{
        margin:auto;
        padding-left:30px;
        padding-bottom: 10px;
        list-style-type: square;
    }
 
    ul > li{
        padding:10px 30px;
    }

    footer{
        background-color: #59290D;
        color: white;
        padding:20px;
        text-align: center;
        width: 100%;
    }

    h3{
        padding:10px;
        font-size: 20px;
        font-weight:bold;
    }

    .slideshow{
        padding-top:30px;
        overflow: hidden;
        height: 970px;
    }

    .slide {
        padding-top:10px;
        float: left;
        height: 970px;
        background:#D0F0C0;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
      }

      .left{
        color: #4B6F44;
        position: absolute;
        top: 120%;
        left: 2%;
        font-size:50px;
      }

      .right{
        color: #4B6F44;
        position: absolute;
        top: 120%;
        left: 90%;
        font-size: 50px;
        
      }

    #tag{
        font-weight: normal;
    }

    .slide-number{
        font-size: 20px;
        font-weight:bold;
        text-align: center;
        padding: 10px;
        color: #4B6F44;
    }

    .oritext{
        font-size: 16px;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
        color: 	#4B6F44;
        text-align: left;
    }

    .oritexttitle{
        text-align: center;
        text-decoration: underline;
        color: 	#4B6F44;
    }

    #mapi{
        filter: sepia(100%);
        padding-top: 40px;
        margin: auto;
    }

    .introtext{
        padding:10px;
        font-size: 17px;
    }

    .letters{
        font-size: 20px;
        text-align: center;
    }

    .alphdef{
        font-size:10x;
        padding-left:20px;
    }

    .backtotop{
        font-size: 15px;
        padding-left:20px;
    }

    .terms{
        padding-left: 20px;
        font-size:30px;
        
    }

    .letters a{
        padding:10px;
        text-align:center;
        color:#01411C;
    }

    .letters a:visited{
        padding:10px;
        text-align:center;
        color:#01411C;
    }

    .backtotop{
        padding-left: 10px;
        color:#01411C;
    }

    .backtotop a:visited{
        padding-left: 10px;
        color:#01411C;
    }
  
    .teaassort{
        background: url('../images/teaassortment.jpg');
        background-attachment: fixed;
        background-position: center; /* Parallax effect */
        background-size: cover; /* Parallax effect */
        height: 700px; /* Parallax effect */
        color: transparent;
    }

    .slideshow1{
        padding-top:30px;
        overflow: hidden;
        height: 400px;
    }

    .slide1 {
        float: left;
        height: 400px;
        background:#D0F0C0;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
      }

      .left_ben{
        color: #4B6F44;
        position: absolute;
        top: 70%;
        left: 3%;
        font-size: 50px;
      }

      .right_ben{
        color: #4B6F44;
        position: absolute;
        top: 70%;
        left: 90%;
        font-size: 50px;
      }

      .teas{
        padding:20px;
        font-size:25px;
        text-align: center;
      }

      .teapic{
        padding-top: 20px;
        display: block;
        margin: auto;
        width: 40%;
      }

      #teaimg{
        display: block;
        margin: auto;
        width: 70%;
    }

    .benefits_list{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(2, auto);
    }

    .one, .three, .five, .seven, .nine{
        background-color:#CFBB99;
        padding: 10px;
        grid-column: 1 / span 2;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
    }

    .two, .four, .six, .eight, .ten{
        background-color: #FFF0D6;
        padding: 10px;
        grid-column: 1 / span 2;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
    }

    .section{
        padding:20px 10px 10px 10px;
        font-weight:bold;
        font-size: 25px;
        text-align: center;
    }

    .pritea{
        padding:10px;
        text-align: center;
    }

    .captions{
        font-size:20px;
        text-align:center;
    }

    .description{
        padding:10px;
    }

    .questions{
        padding:10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .answers{
        padding:5px;
    }

    #mark{
        padding-top: 20px;
    }

    .sidenote,.brit{
        list-style-type: none;
    }

    .faqsdivider{
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(2, auto);
    }

    .sec1{
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
        margin: auto;
        background-color:#FFF0D6;
        border: solid 2px #59290D;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
    }

    .sec2{
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        margin: auto;
        background-color:#CFBB99;
        border: solid 2px #59290D;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
    }

    .sec3{
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
        margin: auto;
        background-color:#FFF0D6;
        border: solid 2px #59290D;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
    }

    .sec4{
        grid-row: 4 / span 1;
        grid-column: 1 / span 2;
        margin: auto;
        background-color:#CFBB99;
        border: solid 2px #59290D;
        clip-path:polygon(0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%);
    }

    #teaaesthetic, #variety, #caffeine, #loose{
        padding: 10px;  
        width: 100%;   
    }

}

@media only screen and (min-width:768px){

    #home{
        font-size:20px;
    }

    .name{
        padding: 10px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }

    .skip a{
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }

    #teaimg{
        width: 50%;
    }

    #navbar li{
        font-size:20px;
    }

    .slide {
        height: 550px;
    }

    .slideshow{
        height: 550px;
    }

      .left{
        top: 125%;
        left: 1%;
      }

      .right{
        top: 125%;
        left: 94%;
      }

      .oritext{
        margin-left: 60px;
        margin-right: 60px;
    }

    .introtext{
        font-size: 20px;
    }

    .letters{
        font-size: 20px;
        text-align: center;
    }

    .alphdef{
        font-size:15x;
    }

    .backtotop{
        font-size:15px;
    }

    .terms{
        font-size:30px;
    }

    .slideshow1{
        width: 100%;
        height: 700px;
    }

    .slide1 {
        width: 100%;
        height: 700px;
      }

      .faqsdivider{
        grid-template-columns: 33% 33% 33%;
    }
      
    .sec1, .sec3{
        grid-column: 1 / span 2;
        align-items: center;
    }

    .sec2, .sec4{
        grid-column: 2 / span 2;
        align-items: center;
    }

    .one, .three, .five, .seven, .nine{
        grid-column: 1 / span 1;
        padding: 20px;
    }

    .two, .four, .six, .eight, .ten{
        grid-column: 2 / span 1;
        padding: 20px;
    }

    .one, .four, .five, .eight, .nine{
        background-color:#CFBB99;
    }

    .two, .three, .six, .seven, .ten{
        background-color: #FFF0D6;
    }

    .teapic{
        width: 50%;
    }

    .left_ben{
        top: 90%;
        left: 3%;
      }

      .right_ben{
        top: 90%;
        left: 92%;
      }

}

@media only screen and (min-width:1366px){
    #mainspace{
        height: 800px;
    }

    #headerh{
        font-size: 100px;
    }

    #headerp{
        font-size: 55px;
    }

    .skip a{
        font-size: 30px;
    }

    #home{
        font-size: 30px;
    }

    #navbar li{
        font-size: 30px;
    }

    #skip{
        font-size: 40px;
    }

    #teadef{
        font-size: 30px;
    }

    #def, .blurred-back{
        font-size: 20px;
    }

    footer{
        font-size: 15px;
    }

    .name{
        font-size: 50px;
    }



    .left{
        top: 185%;
        left: 0.5%;
    }

    .right{
        top: 185%;
        left: 97%;
    }

    .slide-number{
        font-size: 35px;
    }

    .oritext{
        font-size: 25px;
    }

    .oritexttitle{
        font-size: 30px;
    }

    .introtext{
        font-size: 30px;
    }

    .letters{
        font-size: 30px;
    }

    .alphdef{
        font-size:20px;
    }

    .backtotop{
        font-size:20px;
    }

    .terms{
        font-size:40px;
    }

    #teaimg{
        width: 25%;
    }
    

    .left_ben{
        top: 93%;
        left: 10%;
        font-size:70px;
    }

    .right_ben{
        top: 93%;
        left: 85%;
        font-size: 70px;
    }

    .slide1{
        height: 900px;
    }

    .slideshow1{
        height: 900px;
    }

    .section{
        font-size: 30px;
    }

    .pritea{
        font-size: 20px;
    }

    .captions{
        font-size: 25px;
    }

    .description{
        font-size: 20px;
    }

}