@media only screen and (max-width: 800px){
    body{
        background-color: Ivory;
        font-family:'Courier New', Courier, monospace
    }

    #navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #main{
        background: url('../images/tea.jpg');
        background-attachment: fixed;
        background-position: center; /* Parallax effect */
        background-size: cover; /* Parallax effect */
        color: 	#000000;
        height: 500px; /* Parallax effect */
        text-align: right;
        font-size: 50px;
    }



}